<style>
.host, .static_host{
    background:url(image.php?url=images/low/staying_host.gif&clr=2:2) 4px 100% no-repeat;
}

.running_host{
    background:url(image.php?url=images/low/running_host.gif&clr=2:2) 0 100% no-repeat;
}

.running_host_back{
    background:url(image.php?url=images/low/running_host_back.gif&clr=2:2) 0 100% no-repeat;
}

.static_running_host{
    background:url(image.php?url=images/low/static_running_host.gif&clr=2:2) 0 100% no-repeat;
}

.static_running_host_back{
    background:url(image.php?url=images/low/static_running_host_back.gif&clr=2:2) 0 100% no-repeat;
}

.roll_host{
    background:url(image.php?url=images/low/roll_host.gif&clr=2:2) 0 100% no-repeat;
}

.roll_host_back{
    background:url(image.php?url=images/low/roll_host_back.gif&clr=2:2) 0 100% no-repeat;
}

.keeper_host{
    background:url(image.php?url=images/low/staying_keeper.gif&clr=2) 0 100% no-repeat;
}

.keeper_host_back{
    background:url(image.php?url=images/low/staying_keeper_back.gif&clr=2) 0 100% no-repeat;
}

.running_keeper_host{
    background:url(image.php?url=images/low/running_keeper.gif&clr=2) 0 100% no-repeat;
}

.running_keeper_host_back{
    background:url(image.php?url=images/low/running_keeper_back.gif&clr=2) 0 100% no-repeat;
}

.guest, .static_guest{
    background:url(image.php?url=images/low/staying_guest.gif&clr=29:47) 4px 100% no-repeat;
}

.running_guest{
    background:url(image.php?url=images/low/running_guest.gif&clr=29:47) 0 100% no-repeat;
}

.running_guest_back{
    background:url(image.php?url=images/low/running_guest_back.gif&clr=29:47) 0 100% no-repeat;
}

.static_running_guest{
    background:url(image.php?url=images/low/static_running_guest.gif&clr=29:47) 0 100% no-repeat;
}

.static_running_guest_back{
    background:url(image.php?url=images/low/static_running_guest_back.gif&clr=29:47) 0 100% no-repeat;
}

.roll_guest{
    background:url(image.php?url=images/low/roll_guest.gif&clr=29:47) 0 100% no-repeat;
}

.roll_guest_back{
    background:url(image.php?url=images/low/roll_guest_back.gif&clr=29:47) 0 100% no-repeat;
}

.keeper_guest{
    background:url(image.php?url=images/low/staying_keeper.gif&clr=29) 0 100% no-repeat;
}

.keeper_guest_back{
    background:url(image.php?url=images/low/staying_keeper_back.gif&clr=29) 0 100% no-repeat;
}

.running_keeper_guest{
    background:url(image.php?url=images/low/running_keeper.gif&clr=29) 0 100% no-repeat;
}

.running_keeper_guest_back{
    background:url(image.php?url=images/low/running_keeper_back.gif&clr=29) 0 100% no-repeat;
}
</style>
<script type="text/javascript" language="JavaScript">
    var data={"info":{"hosts_name":"Host Team","guests_name":"Guest Team","hosts_set":"Host Team M-4-4-2 баланс фланг жёстко прессинг 4.12 (Host Manager)","guests_set":"Guest Team M-4-4-2 баланс фланг нормально персональная опека 2.20 (Guest Manager)","hosts":[{"name":"Host Player 1","number":"5","power":63.1,"pos":"ВР","stat":""},{"name":"Host Player 2","number":"11","power":58.9,"pos":"ЦП","stat":"дпт!!!"}],"guests":[{"name":"Guest Player 1","number":"1","power":38.5,"pos":"ВР","stat":""},{"name":"Guest Player 2","number":"24","power":41.6,"pos":"ЛЗ","stat":"п"}],"stad":"Host Stadium (35802)","stat":[["0 (0)","stat 1","0 (0)"],["7 (5), 71%","stat 2","4 (2), 50%"]]},"moments":[{"code":100,"firstarg":0,"secondarg":0,"hosts":[{"x":-570,"y":0},{"x":0,"y":110}],"guests":[{"x":580,"y":10},{"x":420,"y":240}],"ball":{"x":0,"y":0}},{"code":114,"firstarg":0,"secondarg":0,"hosts":[],"guests":[],"ball":null}],"time":[100,0]};
  </script>
